aws/aws/
bags/
build/
install/
log/
uros
eProsima
uros_ws/firmware/*
!uros_ws/firmware/freertos_apps/
uros_ws/firmware/freertos_apps/*
!uros_ws/firmware/freertos_apps/apps
!uros_ws/firmware/freertos_apps/microros_crazyflie21_extensions/
uros_ws/firmware/freertos_apps/microros_crazyflie21_extensions/*
!uros_ws/firmware/freertos_apps/microros_crazyflie21_extensions/src
!uros_ws/firmware/freertos_apps/microros_crazyflie21_extensions/Makefile
#!firmware/freertos_apps/
frames*
**/__pycache__/
*.csv